*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card[data-color]{
    height: 30%;
    width:23%;
    /* background-color: attr(data-color); */
}

.card[data-status='closed']{
    background-image: url(/img/Gray-background.jpg);
    background-size: 70%;
}

.gameBoard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}

body{
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100vh;
    width: 100vw;
    padding: 30px;
}

.card--hidden{
    background-color: aqua;
}

.sideBar{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f4f4f4;
}

.sideBar *{
    margin: 20px 0;
}

@media(max-width:500px){
    body{
        grid-template-columns: 100%;
        grid-template-rows: 20% 80%;
        padding: 5px;
    }

    .gameBoard{
        grid-row-start: 2;
        width: 100%;
    }

    h1{
        display: none;
    }

    .sideBar{
        flex-direction: row;
    }
}